# ===== .NET =====
bin/
obj/

# ===== Visual Studio =====
.vs/
*.user
*.suo

# ===== Logs =====
*.log

# ===== Environment / Secrets =====
appsettings.Development.json
appsettings.Production.json
appsettings.json


*.env

# ===== OS =====
.DS_Store
Thumbs.db
